ul {
    list-style-type: none;
    margin: 0;
    li {
        padding: 0;
        a {
            text-decoration: none;
            color: unset;
        }
        a:hover {
            color: unset;
        }
    }
}